esphome:
  name: weather-display
  friendly_name: Weather Display

esp32:
  board: denky32
  framework:
    type: esp-idf

logger:

api:
  encryption:
    key: !secret weather_display_api

ota:
  - platform: esphome
    password: !secret weather_display_ota

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  ap:
    ssid: "Weather Display"
    password: !secret fallback_password

captive_portal:

time:
  - platform: sntp
    id: sntp_time
    timezone: America/Detroit
    servers:
     - 0.pool.ntp.org
     - 1.pool.ntp.org
     - 2.pool.ntp.org

i2c:
  scan: True
  sda: GPIO21
  scl: GPIO22

sensor:
  - platform: aht10
    variant: AHT20
    temperature:
      name: "Office Temperature"
      id: my_temp
    humidity:
      name: "Office Humidity"
      id: my_hum
    update_interval: 60s

  - platform: bmp280_i2c
    # temperature:
    #   name: "Office Temperature bmp"
    #   oversampling: 16x
    pressure:
      name: "Office Pressure"
      id: my_press
    address: 0x77
    update_interval: 60s

  - platform: homeassistant
    name: "Outside Temperature"
    id: outside_temp
    entity_id: sensor.openweathermap_temperature

  - platform: homeassistant
    name: "Outside Humidity"
    id: outside_hum
    entity_id: sensor.openweathermap_humidity

font:
  - file: "gfonts://B612"
    id: bigger_font
    size: 20

  - file: "gfonts://B612"
    id: my_font
    size: 16

  - file: "gfonts://B612"
    id: smaller_font
    size: 12

  - file: "https://github.com/Templarian/MaterialDesign-Webfont/raw/refs/heads/master/fonts/materialdesignicons-webfont.ttf"
    id: material
    size: 20
    glyphs:
      - "\U000F050F" # mdi:thermometer
      - "\U000F058E" # mdi:water-percent
      - "\U000F029A" # mdi:gauge

display:
  - platform: ssd1306_i2c
    model: "SH1107 128x128"
    address: 0x3C
    lambda: |-
      it.printf(0, 16, id(material), "\U000F050F");
      it.printf(24, 16, id(bigger_font), "%.0f° F", id(my_temp).state * 1.8 + 32);
      it.printf(80, 20, id(my_font), "%.0f° F", id(outside_temp).state);

      it.printf(0, 40, id(material), "\U000F058E");
      it.printf(24, 40, id(my_font), "%.0f %%", id(my_hum).state);
      it.printf(80, 40, id(my_font), "%.0f %%", id(outside_hum).state);

      it.printf(0, 60, id(material), "\U000F029A");
      it.printf(24, 60, id(my_font), "%.0f hPa", id(my_press).state);

      it.strftime(0, 80, id(smaller_font), "%Y-%m-%d %H:%M", id(sntp_time).now());
