esphome:
  name: esp32-cam
  friendly_name: ESP32-CAM

esp32:
  board: esp32dev
  framework:
    type: arduino

ota:
  - platform: esphome
    password: !secret esp32_cam_ota

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2
  power_save_mode: none
  ap:
    ssid: "ESP32-CAM Fallback Hotspot"
    password: !secret fallback_password

captive_portal:

logger:
  level: WARN
  baud_rate: 0 # suppress serial output

api:
  encryption:
    key: !secret esp32_cam_api

sensor:
  - platform: wifi_signal
    name: WiFi Signal
    update_interval: 60s

  - platform: uptime
    name: Uptime
    update_interval: 60s

switch:
  - platform: restart
    name: "Restart"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: IP Address
    ssid:
      name: SSID
      

## Begin Camera Config (Ai-Thinker Camera)
# https://esphome.io/components/esp32_camera/
i2c:
  - id: camera_i2c
    sda: GPIO26
    scl: GPIO27
    scan: False

esp32_camera:
  name: Camera
  id: esp32_cam
  external_clock:
    pin: GPIO0
    frequency: 20MHz
  i2c_id: camera_i2c

  # 8 GPIO data pins, 4 others, all required. Do not change
  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  power_down_pin: GPIO32

  # Image settings for OV2640 sensor:
  # https://www.uctronics.com/download/cam_module/OV2640DS.pdf
  max_framerate: 10 fps # depends on resolution
  idle_framerate: 0.1 fps
  resolution: 1600X1200 
  jpeg_quality: 12 #10 best, 63 worst
  vertical_flip: False
  horizontal_mirror: False
  contrast: 0
  brightness: 0
  saturation: 0
  special_effect: NONE
  wb_mode: AUTO

  # Exposure settings
  aec_mode: AUTO
  aec2: True
  ae_level: 0

  # Sensor gain settings
  agc_mode: AUTO
  agc_gain_ceiling: 16X # from 2X (least noise, least gain) to 128X

# Needed, because frame_buffer_location: PSRAM is default 
psram:
  mode: octal
  speed: 80MHz


## ESP32 Camera Web Server
# https://esphome.io/components/esp32_camera_web_server/
esp32_camera_web_server:
  # - port: 8080
  #   mode: stream
  - port: 8081
    mode: snapshot


## Flash Lamp
output:
  - platform: gpio
    pin: GPIO4
    id: flash_lamp
light:
  - platform: binary
    output: flash_lamp
    name: Flash Lamp
