esphome:
  name: water-meter
  friendly_name: Water Meter

esp8266:
  board: d1_mini

api:
  encryption:
    key: !secret water_meter_api

ota:
  - platform: esphome
    password: !secret water_meter_ota

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2

  ap:
    ssid: "Water Meter Fallback Hotspot"
    password: !secret fallback_password

captive_portal:


## From github.com/tronikos/esphome-magnetometer-water-gas-meter
preferences:
  flash_write_interval: 60min

substitutions:
  # For water one of: CCF, ft³, gal, L, m³
  # For gas one of: CCF, ft³, m³
  # For better accuracy avoid using large units like CCF and m³.
  # You can always change the unit later in Home Assistant.
  volume_unit: 'gal'
  i2c_scl: GPIO5  # D1
  i2c_sda: GPIO4  # D2
  # Set to false only if needed during manual calibration.
  # Do not keep them at false since these slow down the ESP device
  # and reduce the accuracy during high flow.
  hide_magnetic_field_strength_sensors: 'true'
  hide_half_rotations_total_sensor: 'true'

packages:
  meter:
    url: https://github.com/tronikos/esphome-magnetometer-water-gas-meter
    ref: main
    file: esphome-water-meter.yaml
    # Or for gas meter:
    # file: esphome-gas-meter.yaml
    # Or if you are using HMC5883L instead of QMC5883L:
    # files: [esphome-water-meter.yaml, hmc5883l.yaml]
    # Or if you are using MMC5603 instead of QMC5883L:
    # files: [esphome-water-meter.yaml, mmc5603.yaml]
    refresh: 0s


## For QMC5883P
external_components:
  - source: github://mazzhead/esphome-components@main
    components: [qmc5883p]
logger:
  logs:
    qmc5883p: INFO
number:
  - id: !remove ${prefix_id}temperature_offset
sensor:
  - id: !extend ${prefix_id}qmc5883l_id
    platform: qmc5883p
    address: 0x2C
    oversampling: 1x
    temperature: !remove ${prefix_id}qmc5883l_temperature
